.app-header {
    margin-top: 5%;
    font-size: xx-large;
}

.card-mb {
    margin-bottom: 2%;
}

.card_link {
    text-decoration: none;
}

@media (min-width: 767px) { 
    .sunrise-time {
        float: left;
    }
    .sunset-time {
        float: right;
    }
}

@media (max-width: 767px) { 
    .sunrise-time, .sunset-time {
        display: block;
    }
}